@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";

    var instruments = JsonSerializer.Deserialize<InstrumentQuotes[]>(
        File.ReadAllText("aex.json"), new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        })!;
    Console.WriteLine(instruments);
    
}

<style>
    table caption {
        margin-top: 10px;
        font-size: 0.7em;
    }
    
    td.name {
    
    }
    
    .green {
        background-color: mediumseagreen;
    }
    
    .red {
        background-color: indianred;
    }
    
    .price {
        text-align: right;
    }
    
    .volume {
        text-align: right;
    }
    
    th {
     text-align: center;
    }
</style>

<div>
    <table class="table table-bordered">
        <caption>AEX Stock Prices</caption>
        <tr>
            <th>Stock Name</th>
            <th>Last</th>
            <th>Time</th>
            <th>Volume</th>
            <th>Open</th>
            <th>Low</th>
            <th>High</th>
        </tr>
        @foreach (var instrument in instruments)
        {
            <tr id="@instrument.Symbol" class="instrument">
                <td class="name">@instrument.Name</td>
                <td class="last price" id="@("last_" + instrument.Symbol)">@instrument.Last</td>
                <td class="lastTimestamp price" id="@("lastTimestamp_" + instrument.Symbol)">00:00:00</td>
                <td class="volume" id="@("volume_" + instrument.Symbol)">1</td>
                <td class="open price" id="@("open_" + instrument.Symbol)">@instrument.Last</td>
                <td class="low price" id="@("low_" + instrument.Symbol)">@instrument.Last</td>
                <td class="high price" id="@("high_" + instrument.Symbol)">@instrument.Last</td>
            </tr>
        }
    </table>
</div>